
svg text {
    font-family: sans-serif;
}


.middleTextLegend30{
    text-anchor:middle;
    fill:gray;
    font-size: 12px;

}

.planGistLabel{
    text-anchor: middle;
    fill: #999999;
    font-weight: bold;
    font-size: 14px;
}

div.tooltipGraph30 {
    position: absolute;
    text-align: left;
    font: 14px sans-serif;
    line-height: 1.4;
    padding: 5px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    pointer-events: none;
}

#divGraph30over{
    overflow: auto;
}


.asisYcapiton {
    font-size: 18px;
    fill: #aDa5aE;
    dominant-baseline: central;
    text-anchor: end;
    font-family: sans-serif;
}