.textLegend37{
    font-family: sans-serif;
    font-size: 20px;
    fill: black;

}

.textLegendRight37{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: black;


}



.textBar {
    font-family: sans-serif;
    font-size:16px ;
    fill :white ;
    dominant-baseline : central ;
}
.textUpBar {
    font-family: sans-serif;
    font-size:16px ;
    fill :black ;
    text-anchor: middle;
    font-weight: bold;
}
.legendText {
    font-family: sans-serif;
    font-size:16px ;
    fill :black ;
}



div.tooltip {
    position: absolute;
    text-align: left;
    font: 14px sans-serif;
    line-height: 1.4;
    padding: 5px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    pointer-events: none;
}

.leftBigDigit{
    font-family: sans-serif;
    font-size:40px ;
    text-anchor: end;
    font-weight: bold;
    fill: #DADFE6;

}

.mountthTxt{
    font-family: sans-serif;
    font-size:14px ;
    text-anchor: middle;
    text-transform:uppercase;
    fill: gray;

}
.leftTextCap{
    font-family: sans-serif;
    font-size:18px ;
    text-transform:uppercase;
    fill: gray;

}



