.gist {
	fill:none;
}

.asisXmounthText {
	text-anchor :middle ; 
	fill :#CDD5DE ; 
	font-weight :bold;
	font-size:14 ; 
	dominant-baseline : central ; 
}

.asisYcapiton {
	font-size:18px ; 
	fill :#aDa5aE ; 
	dominant-baseline : central ; 
	text-anchor :end ;
}
