.pieCaption{
    text-anchor:end;

}



.inner39textVal{
    font-size:24px;
    text-anchor:middle;
}
.inner39textCapiton{
    font-size:14px;
    text-anchor:middle;
    text-transform: uppercase;
}