svg text {
    font-family: sans-serif;
}

.tickY{
    font-family: sans-serif;
    font-size: 17px;
    fill:#75777D ;
}

.middleTextLegend{
    text-anchor:middle;
}

.planGistLabel26neg {
    text-anchor: middle;
    fill: #999999;
    font-weight: bold;
    font-size: 14px;
}

.tooltipGraph26neg {
    position: absolute;
    text-align: left;
    font: 14px sans-serif;
    line-height: 1.4;
    padding: 5px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    pointer-events: none;
}


.mountText{
    text-anchor: middle;
    fill : gray;
}


.asisYcapiton {
    font-size: 18px;
    fill: #aDa5aE;
    dominant-baseline: central;
    text-anchor: end;
    font-family: Proxima Nova;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}

