svg text {
    font-family: Proxima Nova;
}


.asisYcapiton {
    font-size: 18px;
    fill: #aDa5aE;
    dominant-baseline: central;
    text-anchor: end;
}


div.tooltipGraph35 {
    position: absolute;
    text-align: left;
    font: 14px sans-serif;
    line-height: 1.4;
    padding: 5px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    pointer-events: none;
}


.legCaption{
    text-anchor:middle;
    font-size: 16px;
    font-weight: bold;
    fill : gray;
}

.legCaptionWhite{
    text-anchor:middle;
    font-size: 16px;
    font-weight: bold;
    fill : #fff;
}

.captionPer{
    text-anchor:middle;
    font-size: 20px;
    dominant-baseline: central;
    font-weight: bold;
    fill : #787878;
}




.legendSub{
    font-size: 18px;
    fill:gray;
}